<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::head}, ~{::main})}">
<head>
    <title>Credit Cards</title>
    <link rel="stylesheet" th:href="@{/css/credit-cards.css}">
</head>
<body>
<main th:fragment="content">
    <div class="header">
        <h1>Credit Cards</h1>
    </div>
    <div class="row g-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>This page is under construction.</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>