<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::head}, ~{::main})}">
<head>
    <title>Dashboard</title>
</head>
<body>
<main th:fragment="content">


    <div class="row g-4">
        <div class="col-12 mb-4 text-center">
            <h2 class="display-4">Welcome, Surya Sivakumar!</h2>
        </div>

        <div class="col-12">
            <div class="row g-4">
                <!-- Total Balance Card -->
                <div class="col-md-6 mb-4">
                    <div class="card p-4 text-center">
                        <h5 class="card-title text-muted mb-2">Current Balance</h5>
                        <h3 class="fw-bold text-success" th:text="'₹ ' + ${#numbers.formatDecimal(totalSavings, 0, 'COMMA', 0, 'POINT')}">₹ 0.00</h3>
                    </div>
                </div>
                <!-- Current Company Card -->
                <div class="col-md-6 mb-4">
                    <div class="card p-4 text-center">
                        <h5 class="card-title text-muted mb-2">Current Company</h5>
                        <h3 class="fw-bold text-white" th:text="${currentCompany}">N/A</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card p-4 text-center">
                <div class="row g-4">
                    <!-- Income Section -->
                    <div class="col-md-4">
                        <h5 class="card-title text-muted mb-2">Total Income</h5>
                        <h4 class="text-white" th:text="'₹ ' + ${#numbers.formatDecimal(totalSalary, 0, 'COMMA', 0, 'POINT')}">₹ 0.00</h4>
                    </div>
                    <!-- Expense Section -->
                    <div class="col-md-4">
                        <h5 class="card-title text-muted mb-2">Total Expense</h5>
                        <h4 class="text-white" th:text="'₹ ' + ${#numbers.formatDecimal(totalExpenses, 0, 'COMMA', 0, 'POINT')}">₹ 0.00</h4>
                    </div>
                    <!-- Last Month Salary Section -->
                    <div class="col-md-4">
                        <h5 class="card-title text-muted mb-2">Last Month Salary</h5>
                        <h4 class="text-white" th:text="'₹ ' + ${#numbers.formatDecimal(lastMonthSalaryAmount, 0, 'COMMA', 0, 'POINT')}">₹ 0.00</h4>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
