<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::head}, ~{::main})}">
<head>
    <title>My Privileges</title>
    <link rel="stylesheet" th:href="@{/css/my-privileges.css}">
</head>
<body>
<main th:fragment="content">
    <div class="header">
        <h1>My Privileges</h1>
    </div>
    <div class="row g-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="under-construction-message">This page is under construction.</p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>