<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::head}, ~{::main})}">
<head>
    <title>Salary</title>
    <link rel="stylesheet" th:href="@{/css/salary.css}">
</head>
<body>
<main th:fragment="content">
    <div class="header">
        <h1>Salary Overview</h1>
    </div>

    <div class="row g-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div th:each="entry : ${groupedSalaries}" class="mb-2">
                                                                                                                <h3 class="mt-4 mb-4 company-title" style="color: darkorange !important;" th:text="${entry.key}">Company Name</h3>                        <div class="table-responsive">
                            <table class="table table-dark table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Month</th>
                                    <th>Year</th>
                                    <th>Total Salary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="salary, salaryStat : ${entry.value}">
                                    <td th:text="${salaryStat.index + 1} + '.'"></td>
                                    <td th:text="${salary.month}"
                                        th:classappend="${salary.isJanuary} ? 'text-warning' : ''"></td>
                                                                        <td th:text="${salary.year}"
                                                                            th:classappend="${salary.isJanuary} ? 'text-warning' : ''"></td>                                    <td th:text="${salary.formattedTotalSalary}"
                                        th:classappend="${salary.isAmountIncreased} ? 'text-success' : ''"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>