<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="card">
        <div class="card-header">
            Salary Overview
        </div>
        <div class="card-body">
            <div th:each="entry : ${groupedSalaries}" class="mb-4">
                <h5 class="mt-4 mb-2" th:text="${entry.key}">Company Name</h5>
                <div class="table-responsive">
                    <table class="table table-striped table-hover mb-3">
                        <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Total Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="salary, salaryStat : ${entry.value}">
                            <td class="sno-bold" th:text="${salaryStat.index + 1} + '.'"></td>
                            <td th:text="${salary.month}"
                                th:classappend="${salary.isJanuary} ? 'january-highlight' : ''"></td>
                            <td th:text="${salary.year}"
                                th:classappend="(${salary.shouldHighlightYear} ? 'highlight-year' : '') + (${salary.isJanuary} ? ' january-highlight' : '')"></td>
                            <td th:text="${salary.formattedTotalSalary}"
                                th:classappend="${salary.isAmountIncreased} ? 'amount-increased' : ''"
                                class="salary-amount-default"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="card-footer text-muted">
            Last updated: <span th:text="${#dates.format(#dates.createNow(), 'MMMM dd, yyyy')}">January 01, 2026</span>
        </div>
    </div>
</div>
</body>
</html>