<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::head}, ~{::main})}">
<head>
    <title>Savings Overview</title>
    <link rel="stylesheet" th:href="@{/css/savings-overview.css(v=1.7)}" />
</head>
<body>
<main th:fragment="content">
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                Total Savings
            </div>
            <div class="card-body">
                <p class="card-text savings-amount" th:text="${'₹' + #numbers.formatDecimal(totalSavings, 0, 'COMMA', 0, 'POINT')}"></p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                Total Emergency Fund
            </div>
            <div class="card-body">
                <p class="card-text emergency-fund-amount" th:text="${'₹' + #numbers.formatDecimal(totalEmergencyFund, 0, 'COMMA', 0, 'POINT')}"></p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                Grand Total
            </div>
            <div class="card-body">
                <p class="card-text grand-total-amount" th:text="${'₹' + #numbers.formatDecimal(grandTotal, 0, 'COMMA', 0, 'POINT')}"></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
